  <!DOCTYPE html>
<html lang="en">
  <head>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>On Course!</title>

    <%= stylesheet_link_tag 'application' %>
    <script src="//code.createjs.com/easeljs-0.8.0.min.js"></script>
  </head>

  <body <% if request.fullpath == '/' %> class="home-page" <% end %>>
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-brand"><%= link_to "On Course!", root_path %></div>
        </div>
        <div class= "navbar-collapse collapse">
          <ul class="navbar-form navbar-right" role="form">
            <li class= "list list-unstyled">

            <% if current_user %>
              <%= link_to ("Hello, #{current_user.first_name} #{current_user.last_name} !"), dashboard_path %>
              |
              <%= link_to "Sign Out", signout_path, class: "btn btn-primary btn-md" %>

            <% else %>
            <!-- Button trigger modal -->
            <button type="button" class="sign-in btn btn-primary btn-md" data-toggle="modal" data-target="#myModal">
              Sign In
            </button>

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Sign In</h4>
                  </div>
                  <div class="modal-body">
                    <%= form_tag signin_path do |f| %>
                    <% if @sign_in_error %>
                    <div class= "text-danger">
                      <font size= "3">
                        <%= @sign_in_error %>
                      </font>
                    </div>
                    <%end%>
                    <div class="form-group">
                      <%= email_field_tag :email, "", class: "form-control", placeholder: "Email" %>
                    </div>
                    <div class="form-group">
                      <%= password_field_tag :password, "", class: "form-control", placeholder: "Password" %>
                    </div>
                    <%= submit_tag "Sign in",  class: "btn btn-success" %>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
            <%= link_to 'Sign Up', signup_path, class: "btn btn-success btn-md"%>
            <% end %></li>
          </ul>
        </div>
      </nav>

      <%= yield %>

     <!-- FOOTER -->
     <footer class="footer">
      <div class="container">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </div>
     </footer>

   </div><!-- /.container -->


 <%= javascript_include_tag 'application' %>
 </body>
</html>
