<!DOCTYPE html>
<html lang="en">
  <head>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>On Course!</title>

    <%= stylesheet_link_tag 'application' %>

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <ul class="navbar-brand">
          <font size= "5"><%= link_to "On Course!", root_path %> </font>
        </ul>
          <ul class="navbar-form navbar-right" role="form">
            <li class= "list list-unstyled">

            <% if current_user %>
              <%= link_to ("#{current_user.first_name} #{current_user.last_name}"), user_path(current_user), class: "btn btn-info"%>
              |
              <%= link_to "Sign Out", signout_path, class: "btn btn-primary" %>

            <% else %>
              <%= form_tag signin_path do |f| %>
              <% if @sign_in_error %>
                <div class= "text-danger">
                  <font size= "3">
                    <%= @sign_in_error %>
                  </font>
                </div>
              <% end %>

              <div class="form-group">
                <%= email_field_tag :email, "", class: "form-control", placeholder: "Email" %>
              </div>
              <div class="form-group">
                <%= password_field_tag :password, "", class: "form-control", placeholder: "Password" %>
              </div>
              <%= submit_tag "Sign in",  class: "btn btn-success" %>
              <%= link_to 'Sign Up', signup_path, class: "btn btn-primary"%>
            <% end %>
            <% end %></li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>


<%= yield %>

     <!-- FOOTER -->
     <footer>
       <p class="pull-right"><a href="#">Back to top</a></p>
       <p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
     </footer>

   </div><!-- /.container -->


 <%= javascript_include_tag 'application' %>
 </body>
</html>
